.controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  background: rgba(90, 31, 150, 0.342);
  border-radius: 5px;
  width: 30%; 
}


.maze-button {
  margin: 10px;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #006cfa;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size:1.2rem;
}

.maze-button:hover {
  transform: scale(1.16);
  background-color: #07182b;
}

.maze-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(10, 1, 80);
  background: linear-gradient(
    90deg,
    rgb(2, 79, 180) 0%,
    rgba(51, 29, 253, 1) 50%,
    rgb(231, 69, 252) 100%
  );
}

.maze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 45px;
  height: 45px;
  border: 1px solid #e9d7fe;
}

.cell.wall {
  background-color: black;
}

.cell.visited {
  background-color: #ff8800;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}
