main {
}

.maze-button {
  margin: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #248eff;
  color: white;
  cursor: pointer;
}

.maze-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(10, 1, 80);
  background: linear-gradient(
    90deg,
    rgba(10, 1, 80, 1) 0%,
    rgba(51, 29, 253, 1) 50%,
    rgba(179, 69, 252, 1) 100%
  );
}

.maze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #e9d7fe;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}
